name: Action Test
 
on:
  workflow_dispatch: 
    inputs:
     
jobs:  
  action-test:
    name: Action Test
    runs-on: ubuntu-latest
    permissions: write-all    
    steps:
    - name: Bash Command
      env:
        var_key: var_value
      run: |
        echo "${{ env.var_key }}"
        
    - name: Call Action
      id: get_variable
      uses: leonardoosse/lco-action/get_variables@custom
      with:
        ENVIRONMENT: dev

    - name: Bash Command
      run: |
        echo ${{ steps.get_variable.outputs.variable02 }}        
        
